/CRYPTION/xml/*.xml
/CRYPTION/conv/*.pyc
/loginInfo.txt
/make_upload_live.bat
/make_upload.bat
/syserr.txt
/log.txt
/metin2.cfg
/mouse.cfg
/channel.inf
/data/*
!/data/.gitkeep
/temp/*
/screenshot/*
/CRYPTION/Thumbs.db
/CRYPTION/logs/*
/CRYPTION/tools/Python27/Lib/*.pyc
/CRYPTION/tools/Python27/Lib/*/*.pyc
/CRYPTION/source/root/property.xml
/*.filearchiver
/CRYPTION/conv/astoptimizer/*.pyc
/camy
/CRYPTION/source/*.rar
/*.zip
/CRYPTION/PythonrootlibManager.cpp
/mylang.cfg
/CRYPTION/conv/conv.pyc
/account.cfg
/CRYPTION/PythonrootlibManager.h
/CRYPTION/PythonrootlibManager.cpp
/*.exp
/*.lib
/*.pdb
syserr.txt
/logs/*
